* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: white;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  border-left: 2px #ffa500 solid;
  height: 100%;
  gap: 4px;
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;
  margin: 0 0 0 24px;
}

li {
  display: flex;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 4px;
}

.link {
  color: orange;
}

.dash {
  display: flex;
  height: 100%;
  margin-left: -1px;
  color: orange;
  letter-spacing: -2px;

  font-size: 18px;
}

.container {
  border-left: 2px orange solid;
  padding: 0 0 12px 0;
}

.sub-container {
  margin: 14px 0 0 0;
}

.title {
  display: flex;
  gap: 6px;
}

.title-name {
  color: orange;
}

h1 {
  margin: 0 0 12px 0;
}
